.wrapper {
    max-width: 75%;
    margin: 0px auto;
}

body {
    background-color: cadetblue;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: white;
    margin-top: 5px;
}

A {
    text-decoration: none;
}

h2 {
    text-align: center;
    color: black;
}

p {
    color: black;
}

.header {
    padding: 30px;
    text-align: center;
    background: rgb(73, 73, 73);
    color: white;
    font-size: 20px;
    border: 5px solid black;
    margin-top: 0px;
}

ul {
    list-style-type: none;
    margin: 40;
    padding: 80;
    text-align: center;
}

ul li {
    color: yellow;
    display: inline;
    list-style-type: none;
    margin-left: 50px;
    text-decoration: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(241, 227, 227);
    color: white;
    text-align: center;
}
.tekst1{
    font-size: 20px;
    border: 5px solid black;
    background-color: rgb(55, 114, 50);
    padding: 10px;
    position: absolute;
left: 0%;
right: 700px;
top: 130px;
width: 25%;
color: white;
text-align: center;
} 

.tekst2{
    font-size: 20px;
    border: 5px solid black;
    background-color: rgb(55, 114, 50);
    padding: 10px;
position: absolute;
left: 25%;
top: 130px;
width: 25%;
color: white;
text-align: center;
}

.tekst3{
    font-size: 20px;
    border: 5px solid black;
    background-color: rgb(55, 114, 50);
    padding: 10px;
position: absolute;
left: 50%;
top: 130px;
width: 25%;
color: white;
text-align: center;
} 

.tekst4{
    font-size: 20px;
    border: 5px solid black;
    background-color: rgb(55, 114, 50);
    padding: 10px;
position: absolute;
left: 75%;
top: 130px;
width: 25%;
color: white;
text-align: center;
} 
*{
    overflow: hidden;
}

li a {
    color: black;
}

p{ 
    max-width: 90%;
    margin: 0px auto;

}

.zand {
margin-top:300px;

}

.space {
    margin-top:150px;
    margin-bottom:100px;
}

i{
    color: black;
}